.input {
  height: 50px;
  background-color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input input {
  width: 100%;
  border: none;
  outline: none;
  color: #2f2d52;
  font-size: 18px;

  &::placeholder {
    color: lightgray;
  }
}

.send {
  display: flex;
  align-items: center;
  gap: 10px;
}

.send button {
  background-color: #7b00ff;
}

.send button:hover {
  background-color: #5a00b3;
}
