/* LandingPage.css */
.container {
  min-height: 100vh;
  background-color: white;
}

.hero-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px;
  margin-bottom: 50px;
}

.hero-content {
  flex: 1;
}

.hero-image {
  padding-left: 10px;
  flex: 1;
  text-align: center;
}

.hero-image img {
  max-width: 100%;
}

.hero-content h1 {
  font-size: 46px;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 24px;
  margin-bottom: 20px;
}
.hero-content button {
  background-color: #7b00ff;
  color: #fff;
  border: none; /* Remove border */
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px; /* Add border radius */
}

.hero-content button:hover {
  background-color: #5a00b3; /* Darken color on hover */
}

/* Add styles for feature section */

/* Update feature-section styles */
.feature-section {
  display: flex;
  flex-direction: row;
  justify-content: space-around; /* Evenly distribute feature-boxes */
  margin: 20px 50px;
}

.feature-box {
  flex: 1; /* Let each feature-box take up equal space */
  display: flex;
  flex-direction: column;
  justify-content: flex-start; /* Align text from the top */
  align-items: center;
  padding: 10px;
  font-size: 18px;
  max-width: 30%; /* Set a fixed width for each feature-box */
  /* border: 4px solid #7b00ff;
  border-radius: 8px; */
}

.feature-box h2 {
  font-size: 30px;
  padding: 10px 0px 0px 0px;
  margin: 0;
}

.feature-box p {
  font-size: 20px;
}

.feature-box img {
  max-width: 200px;
  height: auto;
}
