.App {
  /* text-align: center; */
  /* display: flex; */
  background-color: #bbe8bc;

}

body {
  background-color: #bbe8bc;
}

.head {
  /* background-color: #4CAF50; */
}

.body {
  /* text-align: center; */
  display: flex;
}

.Messages, .Config {
  flex: 1;
  margin: 10px;
}

.Messages {
  flex: 1;
}

.Config {
  flex: 1;
  /* overflow: auto;  */


}
.configTable {
  border-collapse: collapse;
  width: 100%;
  /* max-width: 600px; Adjust the maximum width as needed */
  /* margin: 0 auto; */
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border: 2px solid #384139; /* Add a border around the table */
  background-color: #bbe8bc

}

.configTableTh, .configTableTd {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #dcdcdc;  
}

.configTableTh {
  background-color: #4CAF50;
  color: white;
  width: 1px;
}

.configTableTd {
  word-break: break-word; 
}


.messagesTable {
  border-collapse: collapse;
  width: 100%; 
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border: 2px solid #384139; /* Add a border around the table */
  background-color: #bbe8bc;

}

.messagesTableTh {
  background-color: #4CAF50;
  color: white;
  width: 1px;
}

.messagesTableTd {
  word-break: break-word; 
  text-align: center;

}


tr:nth-child(even) {
  /* background-color: #f2f2f2; */
  background-color: #a4d5a5

}

tr:hover {
  background-color: #8ee391;
}

.tableElement {
  width: 100%;
  max-height: 50px;
  overflow: auto;
}

.input {
  margin-left: 10px;
  max-width: 80%;

  margin-right: 10px;
  background-color: #bbe8bc;


  border: 2px solid #000000;
  border-radius: 5px;
  padding: 10px;
  /* font-size: 16px; */
  background-color: #bbe8bc;
  color: #333;
  width: 100%;
  transition: border-color 0.3s, box-shadow 0.1s;
    


}

.input:focus {
  /* border-width: 3px; */
  /* border-color: #4CAF50; */
  /* box-shadow: 0 0 5px rgba(76, 175, 80, 0.5); */
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.button {
  background-color: #64b067; /* Green background color */
  color: white; /* Text color */
  margin: 10px;
  padding: 10px 20px; /* Adjust padding as needed */
  border: none; /* Remove default button border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s; /* Smooth hover transition */
}

.button:hover {
  background-color: #2d572d; /* Slightly darker green on hover */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Add a shadow on hover */
}


.button:active {
  background-color: #232a23; /* Darker green while the button is clicked */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* Reduce shadow on click */
}




/* Track (the area the scrollbar moves within) */
::-webkit-scrollbar {
  width: 6px; /* Set the width of the scrollbar */
}

/* Thumb (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background: #4CAF50; /* Color of the thumb */
  border-radius: 6px; /* Round the corners of the thumb */
}

/* Track on hover */
::-webkit-scrollbar-track:hover {
  /* background: #ddd;  */
}

/* Button (the buttons at the top and bottom of the scrollbar) */
::-webkit-scrollbar-button {
  /* background: #999; / */
}

/* Corner (the space where the vertical and horizontal scrollbars meet) */
::-webkit-scrollbar-corner {
  background: #f2f2f2;
}




.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.editable-span {
  display: inline-block;
  border: 1px solid black;
  min-width: 1px;
  max-width: 80%;


  margin-left: 10px;
  margin-right: 10px;
  background-color: #bbe8bc;


  border: 2px solid #000000;
  border-radius: 5px;
  padding: 10px;
  /* font-size: 16px; */
  background-color: #bbe8bc;
  color: #333;
  width: 100%;
  transition: border-color 0.3s, box-shadow 0.1s;

}
